.card-h {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(202, 202, 202);
    display: flex;
    flex-basis: 40%;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; 
    transition: 0.2s;
}

.text-center {
    text-align: center;
}

.container-card-h {
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    gap: 10px;
}

.dark {
    background-color: #0f0f0f;
    color: white;
}

.wd-50 {
    width: 50%;
}

@media (max-width: 930px) {
    .card-h {
        flex-basis: 100%;
    }

    .buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content:space-evenly;
        gap: 10px;
    }

    .wd-50 {
        width: 100%;
    }
}